<form name="signupForm" class="form-signup">
    <h2 class="form-signin-heading">Sign up</h2>
    <input ng-model="signUpCtrl.newUser.username" type="text" id="inputUsername" class="form-control" placeholder="Username" required>
    <input ng-model="signUpCtrl.newUser.email" type="email" id="inputEmail" class="form-control" placeholder="Email" required>
    <input ng-model="signUpCtrl.newUser.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <button ng-click="signupForm.$valid && signUpCtrl.submit()" class="btn btn-lg btn-success btn-block">Sign up</button>
</form>