<div class="row">
    <div class="col-md-12">
        <div class="media">
            <div class="media-left media-top">
                <img class="media-object img-circle" src="http://www.placehold.it/40x40">
            </div>
            <div class="media-body msg">
                <h4 class="media-heading">A. C.<span class="text-muted"> [exact time]</span></h4>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem  quia voluptas sit aspernatur aut odit aut fugit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                </p>
            </div>
        </div>
        <div class="media">
            <div class="media-body msg">
                <h4 class="media-heading text-right ">Me<span class="text-muted"> [exact time]</span></h4>
                <p class="text-right">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit 
                </p>
            </div>
            <div class="media-right media-top">
                <img class="media-object img-circle" src="http://www.placehold.it/40x40">
            </div>
        </div>
        <div class="media">
            <div class="media-body msg">
                <h4 class="media-heading text-right">Me<span class="text-muted"> [exact time]</span></h4>
                <p class="text-right">
                    Two words
                </p>
            </div>
            <div class="media-right media-top">
                <img class="media-object img-circle" src="http://www.placehold.it/40x40">
            </div>
        </div>
        <div class="media">
            <div class="media-left media-top">
                <img class="media-object img-circle" src="http://www.placehold.it/40x40">
            </div>
            <div class="media-body msg">
                <h4 class="media-heading">A. C.<span class="text-muted"> [exact time]</span></h4>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et  
                </p>
            </div>
        </div>
        <div class="media">
            <div class="media-left media-top">
                <img class="media-object img-circle" src="http://www.placehold.it/40x40">
            </div>
            <div class="media-body msg">
                <h4 class="media-heading">A. C.<span class="text-muted"> [exact time]</span></h4>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                </p>
            </div>
        </div>
        <div class="media">
            <div class="media-left media-top">
                <img class="media-object img-circle" src="http://www.placehold.it/40x40">
            </div>
            <div class="media-body msg">
                <h4 class="media-heading">A. C.<span class="text-muted"> [exact time]</span></h4>
                <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                </p>
            </div>
        </div>
        <div class="media">
            <div class="media-body msg">
                <h4 class="media-heading text-right">Me<span class="text-muted"> [exact time]</span></h4>
                <p class="text-right">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                </p>
            </div>
            <div class="media-right media-top">
                <img class="media-object img-circle" src="http://www.placehold.it/40x40">
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <div class="row send-form">
            <div class="col-md-10 col-sm-10 col-xs-9 no-padding">
                <textarea class="form-control" rows="2"></textarea>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3 no-padding">
                <button class="btn btn-info btn-block btn-send">Send</button>
            </div>
        </div>
    </div>
</footer>